body { 
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
     }
.navbar-brand {
    font-weight:700;
    letter-spacing:0.02em;
}
.container{
    max-width: 980px;
}
@media (max-width:576px) {
  .container {
    padding: 1rem;
    }
}
